@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Rubik:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}
*::selection {
  background-color: grey;
  color: white;
  font-weight: 900 !important;
}
html {
  overflow-x: hidden !important;
  background: linear-gradient(0deg, rgb(154, 154, 154) 0%, white 100%);
}
a {
  text-decoration: none !important;
  color: black;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  width: 94%;
  margin: 0px auto;
}
/* nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 50px;
  width: 100vw;
  height: 20px;
}
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 0px;
  height: 100vh;
  gap: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
  z-index: 1000;
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navContainer a {
  display: none;
}
.navContainerShown {
  display: flex;
  width: 200px;
}
.navContainerShown a {
  display: flex;
  font-size: 20px;
}
.navContainerBg {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  opacity: 0.54;
  z-index: 1000;
}
.navContainerBgShown {
  width: 100vw;
  height: 100vh;
}
.navToggler {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  z-index: 2000;
  right: 25px;
  margin-top: 54px;
}
.navToggler span {
  width: 25px;
  height: 2px;
  margin: 3px 0px;
  background-color: black;
  transition: 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
.navToggler:hover span {
  margin: 2px 0px;
}

/* pics */
.bg {
  height: 150vh;
  width: 100vw;
  z-index: -1000;
  position: absolute;
  left: 0px;
  top: 0px;
  /* background: linear-gradient(0deg, #000617 0%, #2873ff 100%); */
  background: linear-gradient(0deg, rgb(154, 154, 154) 0%, white 100%);
}
.pic {
  margin-top: 0px;
}
.pic img {
  width: 154px;
  height: 154px;
  border-radius: 100%;
}

/* text */
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 0px auto;
}
.textName {
  font-size: 28px;
  color: black;
  text-align: center;
}
.subText {
  font-size: 24px;
  color: black;
}
.textDesc {
  font-size: 20px;
  min-width: 200px;
  max-width: 500px;
  text-align: center;
  color: black;
}

/* links */
.links {
  margin-top: 20px;
  padding: 10px;
}
.linksWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.linkContainer {
  display: grid;
  grid-template-columns: 20% 90%;
  cursor: pointer;
  gap: 10px;
  background-color: white;
  padding: 6px 24px;
  border: 1px solid grey;
  width: 230px;
  font-size: 14px;
}
.linkLogo {
}
.linkText {
  width: 180px;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* logos */
.logos {
  margin-top: 10px;
}
.logosWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoLink img {
  width: 48px;
}

/* carousel */
.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  width: 100vw;
  margin-top: 40px;
  overflow: hidden;
  position: absolute;
  left: 0px;
}
.slider::before,
.slider::after {
  /* background: linear-gradient(
    to right,
    rgba(205, 205, 205, 0.545) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slide-track {
  animation: scroll 18s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px 25px;
  height: 100px;
  width: 250px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #d7d7d7;
}
::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #d7d7d7;
}
